services:
  source:
    image: neo4j:5-community
    environment:
      NEO4J_AUTH: neo4j/password
      NEO4J_PLUGINS: '["apoc"]'
    ports:
      - "7687:7687"
    volumes:
      - ./source.cypher:/init.cypher:ro
    healthcheck:
      test: cypher-shell -u neo4j -p password -d neo4j 'RETURN 1'
      interval: 5s
      timeout: 5s
      retries: 10

  target:
    image: neo4j:5-community
    environment:
      NEO4J_AUTH: neo4j/password
      NEO4J_PLUGINS: '["apoc"]'
    ports:
      - "7688:7687"
    volumes:
      - ./target.cypher:/init.cypher:ro
    healthcheck:
      test: cypher-shell -u neo4j -p password -d neo4j 'RETURN 1'
      interval: 5s
      timeout: 5s
      retries: 10
